@page "/services/create-service"
@attribute [Authorize(Roles = "Staff")]


<PageTitle>Create Service — Bookify</PageTitle>

<div class="max-w-3xl mx-auto px-4 py-10">
    <h1 class="text-3xl ml-8 outline-none text-center font-bold mb-8">
        Create Your Service
        <span class="text-gray-400 text-lg font-normal ml-2">(Step @_currentStep of 2)</span>
    </h1>

    @if (_isProcessing)
    {
        <LoadingSpinner Message="Loading service..." />
    }
    else
    {
        <div class="bg-white shadow-xl mr-8 ml-8 rounded-3xl p-8 border-r-2">

            <EditForm Model="_model" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-red-600 mb-4" />

                <ServiceForm Model="_model" Categories="_categories" Step="_currentStep" />

                <div class="flex justify-end gap-4 mt-8">
                    @if (_currentStep == 1)
                    {
                        <button type="button"
                                @onclick=@(() => Nav.NavigateTo("/services/my-service"))
                                class="px-4 py-2 border rounded-xl">
                            Cancel
                        </button>

                        <button type="button"
                                @onclick="NextStep"
                                class="px-6 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700">
                            Next
                        </button>
                    }
                    else if (_currentStep == 2)
                    {
                        <button type="button"
                                @onclick="PreviousStep"
                                class="px-4 py-2 border rounded-xl">
                            Back
                        </button>

                        <button type="submit"
                                class="px-6 py-2 bg-green-600 text-white rounded-xl hover:bg-green-700">
                            Create Service
                        </button>
                    }
                </div>
            </EditForm>

        </div>
    }
</div>

